
@section Styles{
  <link href="~/css/register.css" rel="stylesheet"> 
}

@section Scripts{
  <script src="~/js/register.js"></script>
}



<h1>Register New Car</h1>

<div id="errorAlert" class="alert alert-danger hide">
  Fix Error(s) below to continue...
</div>

<div id="savedAlert" class="alert alert-success hide">
  <h5>Car Saved!!!</h5>
</div>

<!-- Text input-->
<div class="regisger-form"></div>
<!-- <div class="form-group row">
  <label class="col-md-4 control-label">ID</label>  
  <div class="col-md-4">
  <input id="txtID"  name="txtID" type="text"  class="form-control input-md">
   
  </div>
</div>
 -->
<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Daily Price</label>  
  <div class="col-md-4">
  <input id="txtPrice"  name="txtPrice" type="number"  class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Make</label>  
  <div class="col-md-4">
  <input id="txtMake"  name="txtMake" type="text"  class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Model</label>  
  <div class="col-md-4">
  <input id="txtModel"  name="txtModel" type="text"  class="form-control input-md">
  
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Year</label>  
  <div class="col-md-4">
  <input id="txtYear"  name="txtYear" type="text"  class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Passenger Capacity</label>  
  <div class="col-md-4">
  <input id="txtCapacity"  name="txtCapacity" type="number"  class="form-control input-md">
  
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Mileage</label>  
  <div class="col-md-4">
  <input id="txtMileage"  name="txtMileage" type="number"  class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Image Url</label>  
  <div class="col-md-4">
  <input id="txtImageUrl"  name="txtImageUrl" type="text"  class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Availability</label>  
  <div class="col-md-4">
  <input id="txtStock"  name="txtStock" type="text"  class="form-control input-md">
  
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Horsepower</label>  
  <div class="col-md-4">
  <input id="txtHP"  name="txtHP" type="number"  class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Cylinders</label>  
  <div class="col-md-4">
  <input id="txtCyls"  name="txtCyls" type="number"  class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-4 control-label" >Description</label>  
  <div class="col-md-4">
  <input id="txtDescription" name="txtDescription"  type="text"  class="form-control input-md">
    
  </div>
</div>
<!-- Button -->
<div class="form-group row">
    <div class="offset-4 col-8"></div>
    <button id="btnSave" type="button" class="btn btn-primary">Register Car</button>
  </div>
</div>
</div>
</div>

</fieldset>


</div>
