h1{
    color: rgb(74, 74, 194);
    text-align: center;
}

.register-form {
    border: 2px rgb(12, 172, 12);
    padding: 20px 35px;
    background-color: lightgrey;
}

.form-group{
    text-align: center;
}
label{
    text-align: center;
}

.error{
    border: 1px solid red;
}

.hide{
    display: none;
}